.bg{

    background-color:hsla(66, 61%, 64%, 0.616);
 
border: #12ea2f;
 
    

}
.cl{
    background-color:hsla(219, 100%, 49%, 0.616);
    
   
}

.bg2{

    background-color:hsla(48, 100%, 50%, 0.979);
 
border: #12ea2f;
 
    

}